# Data Intuition (Cont'd)

Putting it all together:
- pandas
- data wrangling
- data intuition
- descriptive statistics
- wisdom of the crowds

We'll use your responses to the Fermi estimation Google Form to do this.

## Setup

In [1]:
# import working with data libraries
import pandas as pd
import numpy as np

## The Data

In [2]:
# read data into Python
df = pd.read_csv('data/fermi_fa20.csv')

In [3]:
# take a look at the data
df

,Timestamp,How fast does human hair grow (cm/yr)?,"If every living person stood crammed together side-by-side, how large of an area would they occupy (km²)?","How many days would it take to walk from here to New York City (assuming no stopping to fix shoes, apply sunscreen, or for sleeping, eating, or other biological needs)?"
0,10/10/20 2:37,20,3500000,10
1,10/10/20 13:16,25,1 million,50
2,10/10/20 13:45,10^3 cm/yr,10^7 km^2,10^4
3,10/10/20 13:52,6cm/yr,1000km^2,200 days
4,10/10/20 14:18,81,16875000000,28000
5,10/10/20 14:29,15,10,200
6,10/10/20 16:21,10^2,10^2,10^3
7,10/10/20 16:32,20,"250,000",100
8,10/10/20 16:42,15,800000,29 days
9,10/10/20 16:57,3,"5,000,000",10
10,10/10/20 17:16,10^2,7 * 10^7,10^3
11,10/10/20 17:54,25,8000,21
12,10/10/20 18:06,10 cm/yr,"750,000km^2",2 years
13,10/10/20 19:06,12,10^4,300
14,10/10/20 22:11,30,100,180
15,10/10/20 22:20,5,100,50
16,10/10/20 23:03,100,10000,forever
17,10/11/20 0:14,10,10^5,10
18,10/11/20 0:55,24,"6,000,000,000,000",35
19,10/11/20 3:28,100,10000,100
20,10/11/20 10:05,10^1,10^8,10^4
21,10/11/20 11:45,12,"1,000,000",100
22,10/11/20 12:30,19,1000,50
23,10/11/20 12:30,12,"100,000",20
24,10/11/20 16:36,15,1000,45
25,10/11/20 17:55,10,4000,12
26,10/11/20 18:59,25,"7,000,000,000,000",50
27,10/11/20 20:31,10,7000000000,30
28,10/11/20 21:52,25,1000,150
29,10/11/20 23:53,20,1000000,365
...,...,...,...,...
161,10/14/20 20:27,6,80000,43
162,10/14/20 21:05,8,100,1200
163,10/14/20 21:22,8,50,40
164,10/14/20 22:56,10,60000,40
165,10/14/20 23:25,80,2*10^6,"1,500"
166,10/15/20 0:16,12,175,100
167,10/15/20 0:41,10^2,"10^-3km per person, 10^9 people on earth, answ...",10^3
168,10/15/20 1:32,14,100,100
169,10/15/20 7:19,15,650000,28
170,10/15/20 10:31,10,2.4 *10,1.8 * 10
171,10/15/20 10:38,5cm/yr,100000km^2,3 months
172,10/15/20 12:53,10,1000000,1000
173,10/15/20 14:09,8,3500000,25
174,10/15/20 15:05,16,10000,9
175,10/15/20 18:20,15,1500 km^2,50 days
176,10/15/20 19:55,10,10^9,10^5
177,10/15/20 21:01,10,1,6 days
178,10/15/20 21:56,10,700000,20
179,10/15/20 22:26,20,2000000,1300
180,10/16/20 9:54,10,10000,40
181,10/16/20 10:25,10,2000,50
182,10/16/20 13:47,30,5000,30
183,10/16/20 14:19,24,"100,000",100
184,10/16/20 15:55,10,"8,000,000,000",150
185,10/16/20 17:14,40,4000,30
186,10/16/20 18:00,12,650,"42 (I'm assuming ""here"" means ucsd)"
187,10/16/20 20:05,10,2500000,1000
188,10/16/20 22:32,7,100000,240
189,10/16/20 23:04,20,500000,40
190,10/22/20 0:47,10^1 cm,10^9,10^2

## Data Cleaning & Wrangling

Tidy Data Rules (Review):
1. Every observation in a row
2. Every variable in a column
3. If multiple tables, column on which to merge

### Thought Question #1

Are these data in the tidy data format?

- A) Yes, these data are ready to analyze
- B) Yes, but there is more work to do before analysis
- C) No, not tidy
- D) Have no idea what you're talking about

## Brainstorming

What considerations do we have to make about these data?

- handling non-numeric answers (i.e. "lots")
- handle units in answer
- unreasonably large/small number (outliers)? (not thoughtful, or joking)
- scientific notation

In [4]:
# change column names
df.columns = ['timestamp', 'hair_growth', 'crammed', 'SAN_NYC']
df.head()

        timestamp hair_growth      crammed    SAN_NYC
0   10/10/20 2:37          20      3500000         10
1  10/10/20 13:16          25    1 million         50
2  10/10/20 13:45  10^3 cm/yr    10^7 km^2       10^4
3  10/10/20 13:52      6cm/yr     1000km^2  200 days
4  10/10/20 14:18          81  16875000000      28000

In [5]:
# check type of each Series (column)
df.dtypes

timestamp      object
hair_growth    object
crammed        object
SAN_NYC        object
dtype: object

In [6]:
# this cell will produce an error
df['hair_growth'].median()

TypeError: could not convert string to float: '10^1 cm'

## Cleaning: Hair Growth

How fast does human hair grow (cm/yr)?

In [ ]:
# take a look at unique values
df["hair_growth"].unique()

In [ ]:
# standardize height column
def standardize_hair(string):
    
    output = None
    
    # Basic string pre-processing
    string = string.lower()
    string = string.strip()

    # take care of unique cases
    string = string.replace("60/1", "60")
    string = string.replace("1ft per year", "30.48")
    string = string.replace("10^1.2", "15.8")
    string = string.replace("10^(1.2)", "15.8")
    string = string.replace("0.5 in/month", "6")
    
    # remove commas
    string = string.replace(",", "")
    
    # take care of inculded unit cases
    string = string.replace("cm/year", "")
    string = string.replace("cm/yr", "")
    string = string.replace("yr", "")
    string = string.replace("cm", "")    
    string = string.replace("/", "")

    # handle scientific notation
    string = string.replace("^3", "00")
    string = string.replace("^2", "0")
    string = string.replace("^1", "")
    string = string.replace("10^(-2)", "0.1")
    string = string.replace("10^-2", "0.1")

    string = string.strip()

    # convert to numeric
    output = float(string)
    
    return output

In [ ]:
# apply function across values in hair growth columns
df["hair_growth"] = df["hair_growth"].apply(standardize_hair)
df["hair_growth"].unique()

In [ ]:
df['hair_growth'].describe()

In [ ]:
# compare to actual value: 15 cm/year (~6 in)
df["hair_growth"].median()

## Cleaning: Crammed

If every living person stood crammed together side-by-side, how large of an area would they occupy (km²)?

In [ ]:
df['crammed'].unique()

In [ ]:
# standardize crammed column
def standardize_crammed(string):
    
    orig = string
    output = None
    
    # Basic string pre-processing
    string = string.lower()
    string = string.strip()
    
    # take care of commas
    string = string.replace(",", "")

    # take care of included unit cases
    string = string.replace("(km^2)", "")
    string = string.replace("km^2", "")
    string = string.replace("km ^2", "")
    string = string.replace("km2", "")
    string = string.replace("km²", "")
    string = string.replace("km", "")
    string = string.replace("squared", "")
    string = string.replace("square", "")
    string = string.replace("sq", "")
    
    # take care of various scientific notation cases
    string = string.replace("1.13 * 10^12", "1130000000000")
    string = string.replace("2.4x10^7", "24000000")
    string = string.replace("3.5x10^9 ", "3500000000")
    string = string.replace("2.4 *10", "24")
    string = string.replace("3.2 * 10^10 ", "32000000000")
    string = string.replace("1oo", "100")
    string = string.replace("7.14x10^7", "71400000")
    string = string.replace("7x(10^3)", "7000")
    string = string.replace("3.6 * 10^13", "36000000000000")
    string = string.replace("3.5*10^4", "35000")
    string = string.replace("1.0 x 10^10", "10000000000")
   
    # take care of general scientific notation
    string = string.replace("x10^2", "00")
    string = string.replace("*(10^3)", "000")
    string = string.replace("10^2", "100")
    string = string.replace("10^3", "1000")
    string = string.replace("10^4", "10000")
    string = string.replace("*10^5", "00000")
    string = string.replace(" x 10^5", "00000")
    string = string.replace("10^5", "100000")
    string = string.replace("*10^6", "000000")
    string = string.replace(" × 10^6", "000000")
    string = string.replace("10^6", "1000000")
    string = string.replace(" * 10^7", "0000000")
    string = string.replace(" x 10^7", "0000000")
    string = string.replace("10^7", "10000000")
    string = string.replace("*10^8", "100000000")
    string = string.replace("10^8", "100000000")
    string = string.replace(" x 10^9", "000000000")
    string = string.replace("x 10^9", "000000000")
    string = string.replace("10^9", "1000000000")
    string = string.replace("10^10", "1000000000")
    string = string.replace("10^11", "00000000000")
    string = string.replace("10^15", "1000000000000000")
    string = string.replace(" x 10^9", "000000000")
    string = string.replace("10x1000000", "10000000")

    
    # take care of unique word cases
    string = string.replace("10^-3 per person 1000000000 people on earth answer: [1000000]", "1000000")
    string = string.replace(" million", "000000")
    string = string.replace("mill", "000000")
    string = string.replace(" billion", "000000000")
    string = string.replace(" quadrillion", "000000000000000")
    string = string.replace("the size of california", "423970")

    # convert to numeric
    output = float(string)
    
    return output

In [ ]:
# apply function across values in crammed columns
df["crammed"] = df["crammed"].apply(standardize_crammed)
df["crammed"].unique()

In [ ]:
df.dtypes

In [ ]:
# compare to actual value: 1,000-10,000 km^2)
df['crammed'].median()

## Cleaning: San Diego to NYC

How many days would it take to walk from here to New York City (assuming no stopping to fix shoes, apply sunscreen, or for sleeping, eating, or other biological needs)?

In [ ]:
df['SAN_NYC'].unique()

In [ ]:
# standardize distance column
def standardize_distance(string):
    
    orig = string
    output = None
    
    # Basic string pre-processing
    string = string.lower()
    string = string.strip()
    
    # take care of special/unclear cases
    string = string.replace("forever", "NaN")
    string = string.replace('42 (i\'m assuming "here" means ucsd)', "42")
    string = string.replace("100 days (at 30mi/day)", "100")
    string = string.replace("1.8 * 10", "18")

    # remove units
    string = string.replace("days", "")

    # take care of non-days answers
    string = string.replace("3 years", "1095")
    string = string.replace("2 years", "730")
    string = string.replace("1 1/2 months", "45")
    string = string.replace("3 months", "92")
    string = string.replace("2 months", "61")
    string = string.replace("6 months", "180")
    string = string.replace("1 week", "7")
    string = string.replace("36000 minutes", "25")

    
    # take care of 'punctuation'
    string = string.replace(",", "")
    
    # take care of scientific notation 
    string = string.replace("10^2", "100")
    string = string.replace("10^3", "1000")
    string = string.replace("10^4", "10000")
    string = string.replace("10^5", "100000")

    
    string = string.strip()

    # convert to numeric
    output = float(string)
    
    return output

In [ ]:
# apply function across values in crammed columns
df["SAN_NYC"] = df["SAN_NYC"].apply(standardize_distance)
df["SAN_NYC"].unique()

In [ ]:
# compare to actual value: 38 days)
df['SAN_NYC'].median()

## Take Home Messages

1. Look at your data! (People behave unexpectedly.)
2. Get your data into a tidy data format.
3. Fix (Standardize) your data - or, better yet, collect better data!
4. Use your intuition/knowledge/information out there to consider if values make sense.